/A.class
/Alpha.class
/Apple.class
/BadFoodException.class
/Beta.class
/Camel.class
/CoffeeSize.class
/Gamma.class
/I.class
/MyException.class
/Propagate.class
/Rideable.class
/SupClass$A.class
/SupClass$B.class
/SupClass$C.class
/SupClass.class
/Test.class
/com/
